[Unit]
Description=Node Agent
After=docker.service
Requires=docker.service

[Service]
#ExecStartPre=/usr/bin/docker build -t playground/base /home/core/playground/coreos/docker-files/base ; /usr/bin/docker build -t playground/nodeagent /home/core/playground/node-agent
#ExecStart=/usr/bin/docker run playground/acetarget /usr/bin/java -Dagent.identification.agentid=Agent-%m -Dagent.discovery.serverurls=http://172.17.8.1:8080 -jar /tmp/org.apache.ace.agent.launcher.felix.jar
ExecStart=/usr/bin/docker run playground/nodeagent /tmp/nodeagent.sh start %m

[Install]
WantedBy=multi-user.target
